<div id="sidenav">
  <img src="" alt="" />
  <i
    class="fa-solid fa-house-chimney-window fa-flip"
    style="color: #000000"
  ></i>
  <a href="#">HOME</a>
  <a href="#">TASKS</a>
  <a href="#">REQUESTS</a>
  <a href="#">HOUSEHOLD</a>
  <a href="#">PROFILE</a>
</div>
